<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Home</title>

<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Ubah Password</div>
					<div class="card-body">
						<form th:action="@{/user/updatePassSubmit}" method="post">
						<input type="hidden" name="username" th:value="${#httpServletRequest.remoteUser}">
							<div class="row form-group">
								<label class="col-sm-4">Password Lama</label>
								<input
									class="col-sm-8 form-control input-cm" type="password"
									name="oldPass" />
							</div>
							<div class="row form-group">
								<label class="col-sm-4">Password Baru</label> <input
									class="col-sm-8 form-control input-cm" type="password"
									name="newPass" />
							</div>
							<div class="row form-group">
								<label class="col-sm-4">Konfirmasi Password Baru</label> <input
									class="col-sm-8 form-control input-cm" type="password" name="newPassC" />
							</div>
							<div>
								<button type="submit" class="btn btn-primary">Simpan</button>
							</div>
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
	<h4 th:if="error" style="color: blue;">Password Harus Mengandung Angka dan Minimal 8 Karakter</h4>
</body>
</html>